.theme1{
    color:red;
    font-size: 12px;
    font-family: Verdana;
}
.theme2{
    color:blue;
    font-size: 15px;
    font-family: Arial;
}
.theme3{
    color:pink;
    font-size: 22px;
    font-family:sans-serif;
}